<!-- src/app/home/home.component.html -->
<div class="h-screen flex">
  <!-- Sidebar gauche pour la liste des rooms -->
  <div class="w-1/4 bg-gray-100 p-4 overflow-y-auto">
    <h2 class="text-xl font-bold mb-4">Rooms</h2>
    <ul class="space-y-2">
      <li *ngFor="let room of rooms" (click)="selectRoom(room)" [class.bg-blue-200]="selectedRoom?._id === room._id"
        class="p-2 cursor-pointer hover:bg-gray-200 rounded">
        {{ room.name }}
      </li>
    </ul>

    <!-- Formulaire d'ajout de room -->
    <div class="mt-6">
      <h3 class="text-lg font-semibold mb-2">Add Room</h3>
      <form (ngSubmit)="addRoom()" class="space-y-4">
        <input [(ngModel)]="newRoomName" name="roomName" placeholder="Room Name"
          class="w-full p-2 border border-gray-300 rounded" />
        <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600">Add Room</button>
      </form>
    </div>
  </div>
  <!-- Contenu principal (chat) -->
  <div class="w-3/4 bg-white flex flex-col">
    <div class="flex flex-col flex-grow p-4">
      <ng-container *ngIf="selectedRoom; else noRoomSelected">
        <h2 class="text-xl font-bold mb-4">{{ selectedRoom.name }}</h2>

        <!-- Liste des messages -->
        <div class="h-64 overflow-y-auto border border-gray-200 p-4 rounded space-y-4 flex-grow">
          <ul class="space-y-2">
            <li *ngFor="let message of messages" [ngClass]="{'text-right': message.sender === currentUser}">
              <div *ngIf="message.content" class="inline-block max-w-xs px-4 py-2 rounded-lg"
                [ngClass]="message.sender === currentUser ? 'bg-blue-500 text-white px-4' : 'bg-gray-200 text-gray-700 px-4'">
                <p class="text-sm">
                  <strong class="mb-4">{{ message.sender }}</strong> <br> {{ message.content }}
                </p>
              </div>

            </li>
          </ul>
        </div>
      </ng-container>

      <!-- Message si aucune room n'est sélectionnée -->
      <ng-template #noRoomSelected>
        <div class="w-full h-full flex justify-center items-center">
          <p class="text-gray-500">Please select a room to view messages.</p>
        </div>
      </ng-template>
    </div>

    <!-- Formulaire d'envoi de message -->
    <div *ngIf="selectedRoom" class="p-4 border-t border-gray-200">
      <form (ngSubmit)="sendMessage()" class="flex space-x-2">
        <input [(ngModel)]="newMessageContent" name="message" placeholder="Enter your message"
          class="flex-grow p-2 border border-gray-300 rounded" />
        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Send</button>
      </form>
    </div>
  </div>

</div>