<div class="space-y-6">
  <!-- Add Expense Form -->
  <div class="flex items-center space-x-4 p-6 bg-white rounded-lg shadow">
    <input type="text" [(ngModel)]="newExpense.name" placeholder="Nom de la dépense"
      class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
    <input type="number" [(ngModel)]="newExpense.amount" placeholder="Montant"
      class="w-32 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
    <select [(ngModel)]="newExpense.category"
      class="w-40 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
      <option value="nourriture">Nourriture</option>
      <option value="matériel">Matériel</option>
      <option value="transport">Transport</option>
      <!-- autres catégories -->
    </select>
    <button (click)="addExpense()"
      class="px-6 py-2 bg-blue-500 text-white font-semibold rounded-md hover:bg-blue-600">Ajouter</button>
  </div>

  <!-- Expenses List -->
  <app-expense-table [expenses]="expenses"></app-expense-table>
</div>