<div class="space-y-8">
  <!-- Charts Row -->
  <div class="grid grid-cols-2 gap-8">
    <div class="p-6 bg-white rounded-lg shadow">
      <!-- Graphique des dépenses hebdomadaires -->
      <!-- <app-weekly-expense-chart></app-weekly-expense-chart> -->
    </div>
    <div class="p-6 bg-white rounded-lg shadow">
      <!-- Graphique des dépenses par catégorie -->
      <!--  <app-category-expense-chart></app-category-expense-chart> -->
    </div>
  </div>

  <!-- Expenses Table -->
  <div class="p-6 bg-white rounded-lg shadow">
    <!--   <app-expense-table></app-expense-table> -->
  </div>
</div>